<div class="wrapper">
  <div class="control">
    <div class="search-container">
      <input class="search" placeholder="I'm looking for..." />
      <span class="cross">&#215;</span>
      <span class="loupe"></span>
    </div>
  </div>
  <ngx-spinner name="sp5" [fullScreen]="true" type="square-jelly-box" size="large" *ngIf="isLoading"></ngx-spinner>
  <div class="catalog-page" *ngIf="!isLoading">
    <app-filters class="nav-bar"></app-filters>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport catalog-cards">
      <app-card *cdkVirtualFor="let card of cards" [item]="card" (click)="onCardClick(card.id.toString())"></app-card>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
