<div class="wrapper">
  <div class="control">
    <div class="search-container">
      <input class="search" placeholder="I'm looking for..." (input)="onSearchStringChanged($event)"/>
      <span class="loupe"></span>
    </div>
  </div>
  <ngx-spinner name="sp5" [fullScreen]="true" type="square-jelly-box" size="large" *ngIf="isLoading"></ngx-spinner>
  <div class="catalog-page" *ngIf="!isLoading">
    <app-filters (filtersChanged)="onFiltersChanged($event)" class="nav-bar"></app-filters>
    <cdk-virtual-scroll-viewport itemSize="250" class="example-viewport catalog-cards">
      <app-cards-row *cdkVirtualFor="let row of cards" [items]="row"></app-cards-row>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
