@import "../../../styles/variables";
.movie-card {
  height: 90vh;
}

.movie-card-left {
  padding: 50px;
  margin: auto 0;

  &-img {
    height: 27vw;
    width: 48vw;
    margin-bottom: 2rem;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
      transition: transform 0.3s ease;
      box-shadow: 0px 0px 20px 5px $hover-color;
      -webkit-box-shadow: 0px 0px 20px 5px $hover-color;
      -moz-box-shadow: 0px 0px 20px 5px $hover-color;
    }
  }

  &-name {
    margin: 3rem;
    background-color: $carousel-background;
    font-size: 3rem;
    font-weight: 700;
    white-space: nowrap;
  }
}

.movie-card-right {
  padding-top: 20vh;
  padding-left: 20px;
  text-align: justify;
}

button {
  display: block;
  width: 20vw;
  margin: 0 10px 0 auto;
}

.first {
  display: flex;
  justify-content: space-between;
  gap: 10vw;
  .baby {
    width: 180px;
    height: 230px;
    align-self: center;
  }
}
