@import "../../../styles/variables";
.movie-card {
  height: 90vh;
}

.movie-card-left {
  padding: 50px;
  margin: auto 0;

  &-img {
    height: 27vw;
    width: 48vw;
    margin-bottom: 2rem;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
      transition: transform 0.3s ease;
      box-shadow: 0px 0px 20px 5px $hover-color;
      -webkit-box-shadow: 0px 0px 20px 5px $hover-color;
      -moz-box-shadow: 0px 0px 20px 5px $hover-color;
    }
  }

  &-name {
    margin: 3rem;
    background-color: $carousel-background;
    font-size: 3rem;
    font-weight: 700;
    white-space: nowrap;
  }
}

button {
  display: block;
  width: 20vw;
  margin: 0 1rem 0 auto;
  font-size: 1.2rem;
}

.movie-card-right {
  padding-top: 20vh;
  padding-left: 5vw;
  text-align: justify;
  font-size: 1.1rem;
  h2 {
    font-size: 3rem;
    margin-bottom: 4vh;
    line-height: normal;
  }
  p {
    margin-bottom: 2vh;
  }
  .rating {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 4vh;
    background-color: $rating-background-color;
    border-radius: 5px;
    width: 20vh;
    padding: 1rem;
    border: $main-color 1px solid;
  }
  span {
    text-decoration: underline;
    font-weight: 400;
  }
}

.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1000;
}
