<div class="card" (click)="onCardClick(item?.id?.toString())">
  <img class="card-img" src="https://image.tmdb.org/t/p/w300{{ item?.poster_path }}"/>
  <img class="card-img {{ addToCartAnimation ? 'copy' : '' }}" src="https://image.tmdb.org/t/p/w300{{ item?.poster_path }}"/>
  <div class="card-tools">
    <p class="card-name">{{item?.title}} ({{getReleaseYear()}})</p>
    <p class="card-mark" *ngIf="hasActions && item?.isInCollection">✔</p>
    <button (click)="addToCart($event)" *ngIf="hasActions && !item?.isInCollection && !item?.isInCart">Buy</button>
    <button (click)="removeFromCart($event)" *ngIf="hasActions && !item?.isInCollection && item?.isInCart">Remove</button>
  </div>
</div>
