@import "../../styles/variables";

.profile-component {
  text-align: center;

  p,
  h2,
  &__link {
    font-size: 1.5rem;
    color: $text-color;
    margin: 3rem auto;
  }

  h2 {
    span {
      color: $focus-color;
      font-size: 1.7rem;
    }
  }
}
