<div class="wrapper wrapper-auth">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <app-auth-links></app-auth-links>
    <input type="email" placeholder="Enter your email address" ngModel name="email" #email="ngModel" required email>
    <div class="password-block">
      <input type="password" placeholder="Password" ngModel name="password" #password="ngModel" required password>
      <span class="eye"></span>
    </div>
    <button type="submit" [disabled]="!f.valid">Login</button>
  </form>
</div>
