<div class="wrapper wrapper-auth">
  <ngx-spinner name="sp5" [fullScreen]="true" type="square-jelly-box" size="large" *ngIf="isLoading"></ngx-spinner>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <app-auth-links></app-auth-links>
    <div class="auth-link">
      <input type="email" placeholder="Enter your email address" ngModel name="email" #email="ngModel" required email>
      <div *ngIf="email.invalid && email.touched">
        Please, enter correct email (ex&#64;ex.com)
      </div>
    </div>
    <div class="auth-link">
      <div class="password-block">
        <input type="password" placeholder="Password" ngModel name="password" #password="ngModel" required password
          minlength="6">
        <span class="eye"></span>
      </div>
      <div *ngIf="password.invalid && password.touched">
        Sorry, it's wrong. Length should be more 6.
      </div>
    </div>

    <button type="submit" [disabled]="!f.valid">Login</button>
  </form>
</div>
