@import "../../styles/variables";

.cart-component {
  display: flex;

  &__empty,
  &__empty-link {
    font-size: 1.5rem;
    color: $text-color;
    margin: 3rem auto;
  }
}

table {
  width: 50vw;
  margin: 5rem auto 5rem 0;

  &.empty {
    margin: 5rem auto;
    text-align: center;
  }
}
th,
td {
  width: auto;
}
th {
  display: block;
  margin-bottom: 2.5rem;
}
tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 20px 5px $hover-color;
    -webkit-box-shadow: 0px 0px 20px 5px $hover-color;
    -moz-box-shadow: 0px 0px 20px 5px $hover-color;
  }
}

.price {
  font-size: 2rem;
}

button {
  padding: 20px 50px;
}

h2,
.total-price {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.total-price {
  background-color: $menu-background-color;
  border-radius: 10px;
  padding: 3rem;
  margin: 10rem auto auto;

  &-final {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 2rem;
  }
}

.pay-btn {
  display: block;
  margin: 3rem 1rem 0 auto;
}
