@import "../../styles/variables";
@import "../../styles/mixin";

// .header {
//   position: sticky;
//   top: 0;
//   z-index: 10;
//   background-color: $background-color;
// }

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0 1rem 0;
}

a,
.auth,
.profile {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
  margin: 1rem;
  @media (hover: hover) {
    &:hover {
      border-color: $main-color;
      cursor: pointer;
    }
  }

  &.active {
    border-color: $main-color;
  }
}

.login_btn {
  @include profileIcon("login");
}

.logout_btn {
  @include profileIcon("logout");
}

.profile_btn {
  @include profileIcon("profile");
}

//burger-menu

.menu-block {
  height: 100%;
  display: flex;
  z-index: 10;
}

.menu-block__item {
  display: flex;
  align-items: center;
  gap: 24px;
}

.menu__icon {
  display: none;
  width: 40px;
  height: 40px;
  background: url("../../assets/icons/burger-menu.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .menu-block {
    position: fixed;
    right: 0;
    top: 0;
    background: $menu-background-color;
    width: 320px;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    transition: all 0.5s;
    transform: translateX(100%);

    &.open {
      transform: translateX(0%);
    }
  }

  .menu__icon {
    display: block;
    z-index: 11;
    transition: all 0.3s;

    &.open {
      transform: rotate(90deg);
    }
  }
}
