<div class="wrapper wrapper-auth">
  <form>
    <app-auth-links></app-auth-links>
    <input type="text" placeholder="Username" required>
    <input type="email" placeholder="Enter your email address" required>
    <div class="password-block">
      <input type="password" placeholder="Password" required>
      <span class="eye"></span>
    </div>
    <div class="password-block">
      <input type="password" placeholder="Confirm password" required>
      <span class="eye"></span>
    </div>
    <button>Registration</button>
  </form>
</div>
